body {
  background-color: rgba(15, 23, 42, 1);
}

.app-container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 0;
  padding: 2rem;
  text-align: left;
  display: flex;
  height: 100vh;
}

.left-half {
  flex: 0 0 50%;
  position: fixed;
  top: 10%;
  left: 15%;
  bottom: 0;
}

.right-half {
  flex: 1;
  overflow-y: auto;
  padding-top: 10%;
  margin-left: 60%;
  text-align: justify;
  /* Hide the default scroll bar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Style the scroll bar */
.right-half::-webkit-scrollbar {
  display: none; /* Hide the scrollbar in WebKit browsers (Chrome, Safari, etc.) */
}

#experience {
  display: grid;
  grid-template-columns: 30% 70%;
}

#experience:hover {
  background-color: #3333331f;
  border-radius: 15px;
  padding: 0px 0px;
}

#experience .left-experience {
  margin-top: 10px;
  text-align: left;
  cursor: pointer;
}

#experience .right-experience {
  text-align: left;
  text-align: justify;
}

span.subtitle {
  color: rgba(255, 255, 255, 0.322);
}

a.project {
  all: unset;
}

a.project:hover h3 {
  color: rgb(50, 210, 48);
}

a.project:hover p {
  color: white;
}

#footer li {
  list-style: none;
  display: inline-flex;
  margin-top: 50%;
  margin-left: 15px;
}

#experience .right-experience .technologies li {
  display: inline-flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  padding: 2px 15px 2px 15px;
  border-radius: 15px;
  margin: 5px 5px;
  background-color: rgba(0, 128, 0, 0.291);
  color: rgb(47, 255, 64);
  gap: 25px;
  list-style: none;
  font-size: smaller;
}

#experience .right-experience ul.technologies {
  padding-left: 0;
}

#experience .card {
  cursor: pointer;
}

a {
  text-decoration: none; /* Remove default underline */
  padding-left: 10px; /* Add some space to the left for the line */
  transition: padding-left 0.3s ease; /* Add smooth transition effect */
}

a:hover {
  padding-left: 20px; /* Increase padding to show the line */
  border-left: 2px dashed #333; /* Add dashed line to the left */
}

/* Adjust the cursor follower's background gradient */
.cursor-follower {
  width: 800px; /* Increase width for a larger light effect */
  height: 800px; /* Increase height for a larger light effect */
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.02) 10%,
    transparent 80%
  );
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column; /* Stack elements vertically */
    height: auto; /* Allow content to dictate height */
  }

  .left-half {
    position: static; /* Remove fixed positioning */
    flex: 1; /* Take up full width */
    width: 100%; /* Adjust width to full width */
    margin: 0;
    padding: 0;
  }

  .right-half {
    margin-left: 0; /* Reset margin */
  }
}
